<div class="shop-filter">
    <div class="found-items">
        <div class="simple-text" id="total-result">
            <p>Tìm thấy <span class="main-col"><b>{{result.totalResult}}</b></span> món ăn</p>
        </div>
        <script type="text/x-handlebars-template" id="total-result-template">
            <p>Tìm thấy <span class="main-col"><b>\{{totalResult}}</b></span> món ăn</p>
        </script>
    </div>
    <div class="shop-select">
        <div class="show-item">
            <div class="title-select">
                <div class="simple-text">
                    <p>Hiện thị số món ăn/trang</p>
                </div>
            </div>
            <select class="input-field type-2 main-col" id="total_dish_per_page" onchange="gotoPage({{category}}, 1)">
                {{#if totalDishPerPageOption.option1}}
                    <option selected>1</option>
                {{else}}
                    <option>1</option>
                {{/if}}
                {{#if totalDishPerPageOption.option2}}
                    <option selected>2</option>
                {{else}}
                    <option>2</option>
                {{/if}}
                {{#if totalDishPerPageOption.option3}}
                    <option selected>3</option>
                {{else}}
                    <option>3</option>
                {{/if}}
                {{#if totalDishPerPageOption.option4}}
                    <option selected>4</option>
                {{else}}
                    <option>4</option>
                {{/if}}
            </select>
        </div>
        <div class="sort-by">
            <div class="title-select">
                <div class="simple-text">
                    <p>Sắp xếp</p>
                </div>
            </div>
            <select class="input-field type-2 main-col" id="sort-by" onchange="gotoPage({{category}}, 1)">
                {{#if sortOption1Selected}}
                    <option value="val1" selected>Ngày</option>
                {{else}}
                    <option value="val1">Ngày</option>
                {{/if}}
                {{#if sortOption2Selected}}
                    <option value="val1" selected>Tên</option>
                {{else}}
                    <option value="val1">Tên</option>
                {{/if}}
                {{#if sortOption3Selected}}
                    <option value="val1" selected>Giá cao</option>
                {{else}}
                    <option value="val1">Giá cao</option>
                {{/if}}
                {{#if sortOption4Selected}}
                    <option value="val1" selected>Giá thấp</option>
                {{else}}
                    <option value="val1">Giá thấp</option>
                {{/if}}
            </select>
        </div>
        <ul class="item-tabs type-2">
            <li class="active">
                <a href="#" class="view-1">
                    <span class="point-1"></span>
                    <span class="point-2"></span>
                    <span class="point-3"></span>
                </a>
            </li>
            <li>
                <a href="#" class="view-2">
                    <span class="point-1"></span>
                    <span class="point-2"></span>
                    <span class="point-3"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
