<section class="section">
    <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-50"></div>
    <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12">
                {{#if dish.hasHotDeal}}
                    <div class="sale-badge">
                        <h5 class="h5"><b>GIẢM GIÁ</br> {{dish.hotDeal.discount}}%</b></h5>
                    </div>
                {{/if}}

                <div class="swipers-wrapper">
                    <div class="sideBarTopSwiper">
                        <div class="swiperMainWrapper">
                            <div class="swiper-container full-h animation-2 swiper-control-top" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="600">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide activeSlide">
                                        <div class="content">
                                            <img src="{{dish.avatar}}" alt="" class="full-img">
                                        </div>
                                    </div>
                                    {{#each dish.images}}
                                        <div class="swiper-slide" >
                                            <div class="content">
                                                <img src="{{image_url}}" alt="" class="full-img">
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="empty-sm-10 empty-xs-10"></div>
                    <div class="sideBarSwiper">
                        <div class="swiperMainWrapper">
                            <div class="swiper-container swiper-control-bottom" data-mode="horizontal" data-autoplay="0" data-effect="slide" data-slides-per-view="5" data-loop="0" data-speed="800" data-space="10">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide active" >
                                        <div class="content controlTopSwiper">
                                            <img src="{{dish.avatar}}" alt="" class="full-img">
                                        </div>
                                    </div>
                                    {{#each dish.images}}
                                        <div class="swiper-slide">
                                            <div class="content controlTopSwiper">
                                                <img src="{{image_url}}" alt="" class="full-img">
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-1 col-md-1 col-xs-1"></div>

            <div class="col-lg-6 col-md-7 col-xs-12">
                <!-- name -->
                <aside>
                    <h4 class="h3 sm tt color-2">{{dish.name}}</h4>

                    <div class="empty-sm-10 empty-xs-10"></div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="rate-wrapper align-inline">
                                <span><i class="fa fa-eye"></i></span>
                            </div>
                            <div class="simple-article size-2 align-inline">{{dish.total_reviews}} Lượt xem</div>
                        </div>
                    </div>

                    <div class="empty-sm-20 empty-xs-20"></div>
                    <h5 class="h5 sm color-2">Giá:
                        {{#if dish.hasHotDeal}}
                            <span class="h4 main-col"><b>{{standardPrice 1 dish.hotDeal.hotDealPrice}}</b></span><span class="h5 simple-text" id="extra-price-{{dish_id}}"><b></b></span>
                            <span class="h5 line-through simple-text">
                                {{standardPrice 1 dish.price}}
                            </span>
                        {{else}}
                            <span class="h4 main-col"><b>{{standardPrice 1 dish.price}}</b></span><span class="h5 simple-text" id="extra-price-{{dish.dish_id}}"><b></b></span>
                        {{/if}}
                    </h5>
                </aside>
                <div class="empty-sm-20 empty-xs-20"></div>
                <!-- size -->
                <aside class="product-size">
                    <h5 class="h5 sm color-2 inline-box">Kích cỡ:</h5>
                    {{#each dish.sizes}}
                        <div class="checkbox-entry-wrap">
                            <label class="checkbox-entry">
                                <input type="radio" name="sizes" {{set-default @index}} onchange="extraSizePrice({{dish}}, {{extra_price}})">
                                <span>
                              <i></i>
                              <p>{{name}}</span></p>
                                </span>
                            </label>
                        </div>
                    {{/each}}
                </aside>

                <div class="empty-sm-25 empty-xs-20"></div>
                <aside>
                    <h5 class="h5 sm color-2 inline-box">Loại: </h5>
                    <div class="simple-text">
                        <p>{{dish.subcategoryName}}</p>
                    </div>
                    <div class="empty-sm-25 empty-xs-20"></div>
                    {{#if isActive.isPizzaCatActive}}
                        <h5 class="h5 sm color-2 inline-box">Nguyên liệu: </h5>
                        <div class="simple-text">
                            <p>{{dish.igredients}}</p>
                        </div>
                        <div class="empty-sm-25 empty-xs-20"></div>
                    {{/if}}
                </aside>

                <aside>
                    <h5 class="h5 sm follow-title quntity">Quantity:</h5>
                    <div class="custom-input-number type-2">
                        <button type="button" class="cin-btn cin-decrement">
                            <img src="/img/left_arr.png" alt="">
                        </button>
                        <input type="number" class="cin-input input-field" step="1" value="1" min="0" max="1000" id="quantity">
                        <button type="button" class="cin-btn cin-increment">
                            <img src="/img/right_arr.png" alt="">
                        </button>
                    </div>

                    <div class="empty-sm-25 empty-xs-20"></div>
                </aside>

                <aside>
                    <div class="empty-sm-15 empty-xs-10"></div>
                    <div class="row">
                        <div class="button-wrap col-md-5" data-swiper-parallax="-500"
                             data-swiper-parallax-duration="1000">
                            <a class="button size-2 style-3" onclick="changeCart({{dish.dish_id}}, 1)">
                                <span class="button-wrapper">
                                    <span class="icon"><img src="../../img/icon-3.png" alt=""></span>
                                    <span class="text">Thêm vào giỏ</span>
                                </span>
                            </a>
                        </div>

                        <div class="button-wrap col-md-4 " data-swiper-parallax="-500"
                             data-swiper-parallax-duration="1000">
                            <a class="button size-2 style-2" href="#">
                                <span class="button-wrapper">
                                    <span class="icon"><i class="fa fa-heart-o"></i></span>
                                    <span class="text">Yêu thích</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="empty-lg-50 empty-md-50 empty-sm-40 empty-xs-30"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="text-center">
                    <ul class="item-tabs type-2">
                        {{#if isActive.isPizzaCatActive}}
                        <li class="active"><a href="#" class="link-hover-line type-2">Mô tả</a></li>
                        {{else}}
                            <li class="active"><a href="#" class="link-hover-line type-2">Hình ảnh</a></li>
                        {{/if}}

                        <li><a href="#" class="link-hover-line type-2">Bình luận</a></li>
                    </ul>
                </div>
                <div class="tab-container-wraps">
                    <div class="tab-container-item min-h-430">
                        {{#if isActive.isPizzaCatActive}}
                            <div class="empty-sm-60 empty-xs-30"></div>
                            <div class="simple-text">
                                <p>{{dish.detail_description}}</p>
                            </div>
                        {{/if}}
                        <div class="row">
                            {{#each dish.images}}
                            <div class="col-sm-4 col-xs-12">
                                <div class="empty-sm-45 empty-xs-20"></div>
                                <img src="{{image_url}}" alt="" class="full-img">
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="tab-container-item min-h-430">
                        <div class="empty-sm-60 empty-xs-30"></div>
                        <div class="col-md-10 col-md-offset-1 col-xs-12">
                            <article>
                                <div class="comment-wrap" id="review">
                                    {{#each review}}
                                        <div class="empty-sm-25 empty-xs-25"></div>
                                        <div class="testimonials-item testi-type-4 style-2">
                                            <div class="img">
                                                <img src="{{avatar}}" alt="">
                                            </div>
                                            <div class="text">
                                                <h5 class="h5 caption">{{name}}</h5>
                                                <div class="empty-sm-15 empty-xs-15"></div>
                                                <span class="proff">{{posted_date}}</span>
                                                <div class="empty-sm-15 empty-xs-15"></div>
                                                <div class="simple-text">
                                                    <p>{{comment}}</p>
                                                </div>
                                                <div class="empty-sm-25 empty-xs-25"></div>
                                                <span class="separator"></span>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>

                                <script type="text/x-handlebars-template" id="review-template">
                                    \{{#each review}}
                                        <div class="empty-sm-25 empty-xs-25"></div>
                                        <div class="testimonials-item testi-type-4 style-2">
                                            <div class="img">
                                                <img src="\{{avatar}}" alt="">
                                            </div>
                                            <div class="text">
                                                <h5 class="h5 caption">\{{name}}</h5>
                                                <div class="empty-sm-15 empty-xs-15"></div>
                                                <span class="proff">\{{posted_date}}</span>
                                                <div class="empty-sm-15 empty-xs-15"></div>
                                                <div class="simple-text">
                                                    <p>\{{comment}}</p>
                                                </div>
                                                <div class="empty-sm-25 empty-xs-25"></div>
                                                <span class="separator"></span>
                                            </div>
                                        </div>
                                    \{{/each}}
                                </script>

                                <div class="empty-lg-70 empty-md-50 empty-sm-40 empty-xs-30"></div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                                        <div class="page-navigation" id="page-navigation">
                                            {{#if hasReview}}
                                                {{{render_review_pagination id page totalPage}}}
                                            {{/if}}
                                        </div>
                                        <script type="text/x-handlebars-template" id="page-navigation-template">
                                             \{{{render_review_pagination id page totalPage}}}
                                        </script>
                                    </div>
                                </div>
                                <div class="empty-sm-50 empty-xs-40"></div>
                            </article>

                            {{#if isLogin}}
                                <article id="review-form">
                                    <div class="text-left color-type-2">
                                        <h4 class="h4 tt color-type-1">Để lại bình luận</h4>
                                    </div>
                                    <div class="empty-sm-45 empty-xs-30"></div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="text" class="input-field" placeholder="Tên của bạn *" required="" value="{{user.name}}" id="comment-name" readonly>
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="email" class="input-field" placeholder="Email *" required="" value="{{user.email}}" id="comment-email" readonly>
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                    </div>
                                    <textarea placeholder="Bình luận..." class="input-field" required="" id="comment-message"></textarea>
                                    <div class="empty-sm-30 empty-xs-30"></div>
                                    <div class="text-left">
                                        <div class="page-button button-style-1 type-2">
                                            <input type="submit" onclick="return(validReview({{dish.dish_id}}))">
                                            <span class="txt">ĐĂNG</span><i></i>
                                        </div>
                                    </div>
                                </article>
                                <script type="text/x-handlebars-template" id="review-form-template">
                                    <div class="text-left color-type-2">
                                        <h4 class="h4 tt color-type-1">Để lại bình luận</h4>
                                    </div>
                                    <div class="empty-sm-45 empty-xs-30"></div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="text" class="input-field" placeholder="Tên của bạn *" required="" value="\{{user.name}}" id="comment-name" readonly>
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="email" class="input-field" placeholder="Email *" required="" value="\{{user.email}}" id="comment-email" readonly>
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                    </div>
                                    <textarea placeholder="Bình luận..." class="input-field" required="" id="comment-message"></textarea>
                                    <div class="empty-sm-30 empty-xs-30"></div>
                                    <div class="text-left">
                                        <div class="page-button button-style-1 type-2">
                                            <input type="submit" onclick="return(validReview(\{{dish.dish_id}}))">
                                            <span class="txt">ĐĂNG</span><i></i>
                                        </div>
                                    </div>
                                </script>
                            {{else}}
                                <article>
                                    <div class="text-left color-type-2">
                                        <h4 class="h4 tt color-type-1">Để lại bình luận</h4>
                                    </div>
                                    <div class="empty-sm-45 empty-xs-30"></div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="text" class="input-field" placeholder="Tên của bạn *" required="" value="{{user.name}}" id="comment-name">
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <input type="email" class="input-field" placeholder="Email *" required="" value="{{user.email}}" id="comment-email">
                                            <div class="empty-sm-20 empty-xs-20"></div>
                                        </div>
                                    </div>
                                    <textarea placeholder="Bình luận..." class="input-field" required="" id="comment-message"></textarea>
                                    <div class="empty-sm-30 empty-xs-30"></div>
                                    <div class="text-left">
                                        <div class="page-button button-style-1 type-2">
                                            <input type="submit" onclick="return(validReview({{dish.dish_id}}))">
                                            <span class="txt">ĐĂNG</span><i></i>
                                        </div>
                                    </div>
                                </article>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-50"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="simple-item color-type-2 text-center">
                    <h2 class="h2 title">Bạn cũng có thể đặt kèm với</h2>
                    <div class="empty-sm-20 empty-xs-20"></div>
                    <img src="/img/title_sepp_3.png" alt="" class="color-overlay">
                    <div class="empty-sm-15 empty-xs-15"></div>
                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                        <div class="simple-text md opacity-1">
                            <p>Dưới đây là những gợi ý tuyệt vời để kết hợp các món ăn của bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="also-order-col-wrapper">
                <div id="dishes">
                    {{#each otherDish}}
                        <div class="col-sm-4">
                            <div class="product-shortcode style-7">
                                {{#if hasHotDeal}}
                                    <div class="product-label red">giảm giá {{hotDeal.discount}}%</div>
                                {{/if}}
                                <div class="preview">
                                    <img src="{{avatar}}" alt="" />
                                    <div class="preview-buttons valign-middle ">
                                        <div class="valign-middle-content">
                                            <a class="button size-1 style-2" href="/dishes/{{dish_id}}">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="../../img/icon-4.png" alt=""></span>
                                                        <span class="text">Xem chi tiết</span>
                                                    </span>
                                            </a>
                                            <a class="button size-1 style-3" onclick="changeCart({{dish_id}}, 1, 1)">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="../../img/icon-3.png" alt=""></span>
                                                        <span class="text">Thêm vào giỏ</span>
                                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dishes-title">
                                    <div class="h5 size-1 color col-xs-b10">{{subcategoryName}}</div>
                                    <div class="h5 dish-name animate-to-green">{{name}}</div>
                                </div>

                                <div class="price">
                                    <div class="row ">
                                        {{#if hasHotDeal}}
                                            <div class="h4  new-price col-md-6">
                                                <b>{{standardPrice 1 hotDeal.hotDealPrice}}</b>
                                            </div>
                                            <div class="col-md-4">
                                                            <span class="h4 line-through simple-text old-price ">
                                                                {{standardPrice 1 price}}
                                                            </span>
                                            </div>
                                        {{else}}
                                            <div class="h4 text-center new-price col-md-12">
                                                <b>{{standardPrice 1 price}}</b>
                                            </div>
                                        {{/if}}

                                    </div>
                                </div>

                                <div class="icons">
                                    <!-- quick view -->
                                    <a class="entry open-popup"><i class="fa fa-eye" aria-hidden="true" onclick="openPopup({{dish_id}})"></i></a>
                                    {{> quickView}}
                                    <a class="entry"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
</section>
</div>