<section class="full-height-slider type-1">
    <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: url(/img/shop/main-naner-bg-2.jpg)"
         data-swiper-parallax="50%"></div>
    <div class="table-view mobile-rel-block">
        <div class="table-cell">
            <div class="container no-padd">
                <div class="row vertical-wrap">
                    <div class="col-lg-6 col-lg-offset-3 col-sm-12 col-sm-offset-0">
                        <div class="simple-item color-type-1 text-center">
                            <div class="main-title">
                                <h2 class="h2 title">Menu của chúng tôi</h2>
                                <div class="empty-sm-30"></div>
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="simple-text md">
                                        <p>Hãy khám phá menu của chúng tôi và đặt những món bạn thích nhé.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-xs-12">{{> leftBarFilter}}</div>
            <div class="col-lg-10 col-md-9 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12">{{> topBarFilter}}</div>
                    <div class="empty-sm-15 empty-xs-30"></div>
                </div>
                <div class="tab-container-wraps">
                    <!-- grid view -->
                    <div class="tab-container-item min-h-430">
                        <div class="row row-4-columns row-3-columns row-2-columns">
                            <div id="dishes-grid">
                                {{#each dishes}}
                                    <div class="col-sm-4">
                                        <div class="product-shortcode style-7">{{#if hasHotDeal}}
                                            <div class="product-label red">giảm giá {{hotDeal.discount}}%</div>{{/if}}
                                            <div class="preview">
                                                <img src="{{avatar}}" alt=""/>
                                                <div class="preview-buttons valign-middle ">
                                                    <div class="valign-middle-content">
                                                        <a class="button size-1 style-2"
                                                           href="/dishes/{{dish_id}}"> <span class="button-wrapper">
                                                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
														<span class="text">Xem chi tiết</span>
														</span>
                                                        </a>
                                                        <a class="button size-1 style-3"
                                                           onclick="changeCart({{dish_id}}, 1, 1)"> <span
                                                                class="button-wrapper">
                                                        <span class="icon"><img src="img/icon-3.png" alt=""></span>
														<span class="text">Thêm vào giỏ</span>
														</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dishes-title">
                                                <div class="h5 size-1 color col-xs-b10">{{subcategoryName}}</div>
                                                <div class="h5 dish-name animate-to-green">{{name}}</div>
                                            </div>
                                            <div class="price">
                                                <div class="row ">{{#if hasHotDeal}}
                                                    <div class="h4  new-price col-md-6"><b>{{standardPrice 1
                                                                                                           hotDeal.hotDealPrice}}</b>
                                                    </div>
                                                    <div class="col-md-4"> <span
                                                            class="h4 line-through simple-text old-price ">
                                                        {{standardPrice 1 price}}
                                                    </span>
                                                    </div>{{else}}
                                                    <div class="h4  new-price col-md-12"><b>{{standardPrice 1 price}}</b>
                                                    </div>{{/if}}</div>
                                            </div>
                                            <div class="icons">
                                                <a class="entry open-popup"><i class="fa fa-eye"
                                                                               aria-hidden="true"
                                                                               onclick="openPopup({{dish_id}})"></i></a> {{> quickView}}
                                                <a class="entry"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>

                            <script type="text/x-handlebars-template" id="dishes-template-grid">
                                \{{#each dishes}}
                                <div class="col-sm-4">
                                    <div class="product-shortcode style-7">
                                        \{{#if hasHotDeal}}
                                        <div class="product-label red">giảm giá \{{hotDeal.discount}}%</div>
                                        \{{/if}}

                                        <div class="preview">
                                            <img src="\{{avatar}}" alt="" />
                                            <div class="preview-buttons valign-middle ">
                                                <div class="valign-middle-content">
                                                    <a class="button size-1 style-2" href="/dishes/\{{dish_id}}">
								                                                    <span class="button-wrapper">
								                                                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
								                                                        <span class="text">Xem chi tiết</span>
								                                                    </span>
								                                                        </a>
                                                    <a class="button size-1 style-3" onclick="changeCart(\{{dish_id}}, 1, 1)">
								                                                    <span class="button-wrapper">
								                                                        <span class="icon"><img src="img/icon-3.png" alt=""></span>
								                                                        <span class="text">Thêm vào giỏ</span>
								                                                    </span>
								                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dishes-title">
                                            <div class="h5 size-1 color col-xs-b10">\{{subcategoryName}}</div>
                                            <div class="h5 dish-name animate-to-green">\{{name}}</div>
                                        </div>

                                        <div class="price">
                                            <div class="row ">
                                                \{{#if hasHotDeal}}
                                                <div class="h4  new-price col-md-6">
                                                    <b>\{{standardPrice 1 hotDeal.hotDealPrice}}</b>
                                                </div>
                                                <div class="col-md-4">
                                                    <span class="h4 line-through simple-text old-price ">
								                                                                \{{standardPrice 1 price}}
								                                                            </span>
                                                </div>
                                                \{{else}}
                                                <div class="h4  new-price col-md-12">
                                                    <b>\{{standardPrice 1 price}}</b>
                                                </div>
                                                \{{/if}}
                                            </div>
                                        </div>

                                        <div class="icons">
                                            <!-- quick view -->
                                            <a class="entry open-popup"><i class="fa fa-eye" aria-hidden="true" onclick="openPopup(\{{dish_id}})"></i></a> \{{> quickView}}
                                            <a class="entry"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                \{{/each}}
                            </script>
                        </div>
                    </div>
                    <!-- list view -->
                    <div class="tab-container-item min-h-430">
                        <div class="row">
                            <div id="dishes-list">
                                {{#each dishes}}
                                    <div class="empty-sm-50 empty-xs-30"></div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="menu-item menu-item-7">
                                        <div class="image hover-zoom">
                                            <a href="#" class="like-product main-fill-col">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 471.701 471.701"
                                                     style="enable-background:new 0 0 471.701 471.701;"
                                                     xml:space="preserve" width="16px" height="16px">
													<g>
														<path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
                                    c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
                                    l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
                                    C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
                                    s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
                                    c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
                                    C444.801,187.101,434.001,213.101,414.401,232.701z"></path>
													</g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
												</svg>
                                            </a>
                                            <a href="/dishes/{{dish_id}}" class="image-hover color-1 use-transparent">
                                                <img src="{{avatar}}" alt="">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <div class="product-shortcode style-7 sale-label-container">{{#if
                                                    hasHotDeal}}
                                                <div class="product-label red">giảm giá {{hotDeal.discount}}%
                                                </div>{{/if}}</div>
                                            <h5 class="h5 caption"><a href="/dishes/{{dish_id}}"
                                                                      class="link-hover-line">{{name}}</a></h5>
                                            <div class="empty-sm-5 empty-xs-5"></div>
                                            <div class="simple-text">
                                                <p>{{render_igredients igredients}}</p>
                                            </div>
                                        </div>
                                        <div class="menu-button grid-button">
                                            <a class="button size-1 style-2 margin-bot-10"
                                               href="/dishes/{{dish_id}}"> <span class="button-wrapper">
                                                    <span class="icon"><img src="img/icon-4.png" alt=""></span>
												<span class="text">Xem chi tiết</span>
												</span>
                                            </a>
                                            <a class="button size-1 style-3"
                                               onclick="changeCart({{dish_id}}, 1, 1)"> <span class="button-wrapper">
                                                    <span class="icon"><img src="img/icon-3.png" alt=""></span>
												<span class="text">Thêm vào giỏ</span>
												</span>
                                            </a>
                                        </div>
                                        <div class="menu-price style-2">{{#if hasHotDeal}}
                                            <div class="h4  new-price row"><b>{{standardPrice 1
                                                                                              hotDeal.hotDealPrice}}</b>
                                            </div>
                                            <div class="col-md-4"> <span class="h4 line-through simple-text old-price ">
                                                {{standardPrice 1 price}}
                                            </span>
                                            </div>{{else}}
                                            <div class="h4  new-price row"><b>{{standardPrice 1 price}}</b>
                                            </div>{{/if}}
                                            <div class="custome-padd-top-10"></div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            </div>
                            <script type="text/x-handlebars-template" id="dishes-template-list">
                            \{{#each dishes}}
                            <div class="empty-sm-50 empty-xs-30"></div>
                            <div class="col-md-12 col-xs-12">
                                <div class="menu-item menu-item-7">
                                    <div class="image hover-zoom">
                                        <a href="#" class="like-product main-fill-col">
							                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 471.701 471.701" style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve" width="16px" height="16px">
							                                    <g><path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
							                                    c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
							                                    l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
							                                    C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
							                                    s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
							                                    c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
							                                    C444.801,187.101,434.001,213.101,414.401,232.701z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
							                                </svg>
							                                            </a>
                                        <a href="/dishes/\{{dish_id}}" class="image-hover color-1 use-transparent"><img src="\{{avatar}}" alt=""></a>
                                    </div>

                                    <div class="text">
                                        <div class="product-shortcode style-7 sale-label-container">
                                            \{{#if hasHotDeal}}
                                            <div class="product-label red">giảm giá \{{hotDeal.discount}}%</div>
                                            \{{/if}}
                                        </div>

                                        <h5 class="h5 caption"><a href="/dishes/\{{dish_id}}" class="link-hover-line">\{{name}}</a></h5>
                                        <div class="empty-sm-5 empty-xs-5"></div>
                                        <div class="simple-text">
                                            <p>\{{render_igredients igredients}}</p>
                                        </div>
                                    </div>
                                    <div class="menu-button grid-button">
                                        <a class="button size-1 style-2 margin-bot-10" href="/dishes/\{{dish_id}}">
							                                                <span class="button-wrapper">
							                                                    <span class="icon"><img src="img/icon-4.png" alt=""></span>
							                                                    <span class="text">Xem chi tiết</span>
							                                                </span>
							                                            </a>
                                        <a class="button size-1 style-3" onclick="changeCart(\{{dish_id}}, 1, 1)">
							                                                <span class="button-wrapper">
							                                                    <span class="icon"><img src="img/icon-3.png" alt=""></span>
							                                                    <span class="text">Thêm vào giỏ</span>
							                                                </span>
							                                            </a>
                                    </div>
                                    <div class="menu-price style-2">
                                        \{{#if hasHotDeal}}
                                        <div class="h4  new-price row">
                                            <b>\{{standardPrice 1 hotDeal.hotDealPrice}}</b>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="h4 line-through simple-text old-price ">
							                                                        \{{standardPrice 1 price}}
							                                                    </span>
                                        </div>
                                        \{{else}}
                                        <div class="h4  new-price row">
                                            <b>\{{standardPrice 1 price}}</b>
                                        </div>
                                        \{{/if}}

                                        <div class="custome-padd-top-10" />
                                    </div>
                                </div>
                            </div>
                            \{{/each}}


                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-lg-70 empty-md-50 empty-sm-40 empty-xs-30"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="page-navigation" id="page-navigation">{{{render_pagination category page
                                                                                           totalPage}}}</div>
                    <script type="text/x-handlebars-template" id="page-navigation-template">
                    \{{{render_pagination category page totalPage}}}


                    </script>
                    <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
                </div>
            </div>
        </div>
    </div>
</section>