
<section class="section">
    <div class="empty-lg-115 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="main-caption text-center color-type-2">
                    <h2 class="h2 title">User profile</h2>
                    <div class="empty-sm-55 empty-xs-25"></div>
                    <form action="/user/edit" onsubmit="return(validationEditForm());" method="post" id="messageForm6" class="reservation" enctype="multipart/form-data">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="form-group col-sm-6 img-picker-container">
                                <label>Ảnh đại diện</label>
                                <div class="empty-sm-10  empty-xs-10"></div>
                                <div class="img-picker" id="avatarPicker" data-url="{{linkAvatar user.avatar}}"></div>
                            </div>
                            <div class="empty-sm-30  empty-xs-20"></div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="text" class="input-field" placeholder="Họ và tên*" name="name" required="" value="{{user.name}}">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-7">
                            <div class="input-field-icon">
                                <input type="text" class="input-field" placeholder="Email*" name="email" required="" value="{{user.email}}">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-5">
                            <div class="input-field-icon">
                                <input type="number" class="input-field" placeholder="Số điện thoại*" name="phone" required="" value="{{user.phone}}">
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-field-icon">
                                <input type="text" class="input-field" placeholder="Địa chỉ*" name="address" required="" value="{{user.address}}">
                                <div class="icon">
                                    <i class="fas fa-map-marker"></i>
                                </div>
                            </div>
                            <div class="empty-sm-20  empty-xs-20"></div>
                        </div>

                        <div class="empty-sm-30  empty-xs-20"></div>
                        <div class="page-button button-style-1 type-2">
                            <input type="submit">
                            <span class="txt">CẬP NHẬT</span><i></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="empty-lg-100 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </div>
</section>
</div>