<!-- HOT DEAL -->

<section class="arrow-closest  full-height-slider page-style-1 pagination-bottom-lx-30">
    <div class="swiper-container full-h" data-mode="horizontal" data-autoplay="0" data-effect="slide"
         data-slides-per-view="1" data-loop="0" data-speed="800">
        <div class="parallax-bg bg ready data-jarallax" data-jarallax="5"
             style="background-image: url(/img/home-4/home4_slider_img_1.jpg)" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            {{#each dishesHasHotDeal}}
                <div class="swiper-slide">
                    <div class="vertical-align full mobile-rel-block">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="empty-lg-50 empty-md-50 empty-sm-0 empty-xs-0"></div>
                                    <div class="simple-item-style-3 simple-item">
                                        <div class="row vertical-wrap">
                                            <div class="col-lg-4 col-md-5 col-xs-12">
                                                <div class="left-slider-item-img" data-swiper-parallax="-450"
                                                     data-swiper-parallax-duration="1000">
                                                    <img src="{{avatar}}" alt="" class="full-img">

                                                    <div class="sale-badge">
                                                        <h5 class="h5"><b>GIẢM GIÁ</br> {{hotDeal.discount}}%</b></h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-8 col-md-7 col-xs-12">
                                                <div class="custome-padd-top-60">
                                                    <div class="main-caption text-center color-type-2">
                                                        <div class="slider-title title h2" data-swiper-parallax="-300"
                                                             data-swiper-parallax-duration="1000">{{name}}
                                                        </div>

                                                        <div class="empty-sm-20 empty-xs-20"></div>

                                                        <img src="/img/title_sepp_3.png" alt="" class="color-overlay"
                                                             data-swiper-parallax="-400"
                                                             data-swiper-parallax-duration="1000">
                                                        <div class="empty-sm-25 empty-xs-25"></div>

                                                        <!-- sale of -->
                                                        <div class="row">
                                                                <div class="col-md-8 col-md-offset-2">
                                                                    <div class="md align-left text-left" data-swiper-parallax="-450"
                                                                         data-swiper-parallax-duration="1000">
                                                                        <h5 class="h5 sm color-2 inline-box">Giá khuyến mãi: </h5>
                                                                        <div class="row">
                                                                        <div class="h4  new-price col-md-8">
                                                                            <b>{{standardPrice 1 hotDeal.hotDealPrice}}</b>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <span class="h4 line-through simple-text old-price ">
                                                                                {{standardPrice 1 price}}
                                                                            </span>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="empty-sm-20 empty-xs-10"></div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-2">
                                                                <div class="md align-left text-left" data-swiper-parallax="-450"
                                                                     data-swiper-parallax-duration="1000">
                                                                    {{#if isPizza}}
                                                                        <h5 class="h5 sm color-2 inline-box">Nguyên liệu: </h5>
                                                                        <div class="simple-text">
                                                                            <p>{{igredients}}</p>
                                                                        </div>
                                                                    {{else}}
                                                                        <h5 class="h5 sm color-2 inline-box">Mô tả: </h5>
                                                                        <div class="simple-text">
                                                                            <p>{{detail_description}}</p>
                                                                        </div>
                                                                    {{/if}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="empty-sm-20 empty-xs-10"></div>

                                                        <div class="row">
                                                            <div class="col-md-8 col-md-offset-2 ">
                                                                <div class="md align-left text-left" data-swiper-parallax="-450"
                                                                     data-swiper-parallax-duration="1000">
                                                                <h5 class="h5 sm color-2 inline-box">Thời giam khuyến mãi còn lại: </h5>
                                                                </div>
                                                                <!-- binding time left in second here -->
                                                                <div class="countdown countdown-type" data-line="0.01" data-end="{{hotDeal.countDownTime}}" data-fgcolor="#ffffff" data-bgcolor="rgba(0,0,0,0)"></div>
                                                            </div>
                                                        </div>

                                                        <div class="empty-sm-30 empty-xs-25"></div>

                                                        <div class="row">
                                                            <div class="button-wrap col-md-4 col-md-offset-2" data-swiper-parallax="-500"
                                                                 data-swiper-parallax-duration="1000">
                                                                <a class="button size-2 style-2" href="/dishes?category={{category}}">
                                                                    <span class="button-wrapper">
                                                                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
                                                                        <span class="text">Xem thêm</span>
                                                                     </span>
                                                                </a>
                                                            </div>

                                                            <div class="button-wrap col-md-5" data-swiper-parallax="-500"
                                                                 data-swiper-parallax-duration="1000">
                                                                <a class="button size-2 style-3" onclick="changeCart({{dish_id}}, 1)">
                                                                    <span class="button-wrapper">
                                                                        <span class="icon"><img src="img/icon-3.png" alt=""></span>
                                                                        <span class="text">Thêm vào giỏ</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {{/each}}
        </div>
        <div class="pagination swiper-pagination-1"></div>
        <div class="swiper-arrow-left swiper-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                <g>
                    <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" fill="#FFFFFF"></path>
                </g>
            </svg>
        </div>

        <div class="swiper-arrow-right swiper-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="19px" height="19px">
                <g>
                    <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"></path>
                </g>
            </svg>
        </div>

    </div>
</section>

<!-- WELCOME -->
<section class="section">
    <div class="bg left contain lgx-hide" style="background-image: url(/img/home-4/about_left_img.jpg)"></div>
    <div class="bg right contain lgx-hide" style="background-image: url(/img/home-4/about_right_img.jpg)"></div>
    <div class="empty-lg-130 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row item-animation scroll-type-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="main-caption text-center color-2">
                    <h2 class="h2 title">Welcome!</h2>
                    <div class="empty-sm-20 empty-xs-20"></div>
                    <img src="/img/title_sepp_3.png" alt="" class="color-overlay">
                    <div class="empty-sm-15 empty-xs-15"></div>
                    <div class="simple-text md">
                        <p><b>Chào mừng bạn đến với Pizzone</b></p>
                    </div>
                    <div class="empty-sm-30 empty-xs-30"></div>
                    <div class="simple-text">
                        <p>Pizzone cung cấp cho bạn những loại pizza độc đáo và ngon miệng với đa dạng các loại pizza, món ăn kèm và thức uống. Song đó Pizzone cam kết giao hàng tận tay và nhanh nhất cho bạn trong vòng 2h.</p>
                    </div>
                    <div class="empty-lg-70 empty-md-60 empty-sm-60 empty-xs-40"></div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="simple-item text-center main-fill-col">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px"
                                     height="85px"
                                     viewBox="0 0 290.626 290.626" style="enable-background:new 0 0 290.626 290.626;"
                                     xml:space="preserve"><g><g><g>
											<path d="M140.627,18.75h-0.001h-4.688C60.985,18.75,0.001,79.73,0.001,154.688s60.984,135.938,135.938,135.938
												s135.938-60.98,135.938-135.938V150h-131.25V18.75z M238.946,159.375c-2.461,54.694-47.714,98.438-103.008,98.438
												c-27.661,0-52.786-10.8-71.316-28.5c8.583-1.716,15.066-9.3,15.066-18.375c0-10.341-8.409-18.75-18.75-18.75v9.375
												c5.17,0,9.375,4.205,9.375,9.375s-4.205,9.375-9.375,9.375v5.142c-16.425-17.4-26.925-40.5-28.027-66.281l-9.366,0.403
												c2.578,60.342,51.947,107.611,112.392,107.611c60.459,0,109.912-47.948,112.383-107.813h14.095
												c-2.475,67.627-58.256,121.875-126.478,121.875c-69.787,0-126.563-56.775-126.563-126.563
												C9.376,86.47,63.623,30.68,131.251,28.209V42.3C72.962,44.672,26.058,91.027,23.542,149.798l9.366,0.403
												c2.302-53.733,45.108-96.033,98.344-98.409v107.583H238.946z"/>
											<path d="M188.667,4.284C177.633,1.444,166.196,0,154.688,0h-4.688v140.625h140.625v-4.688
												C290.625,73.87,248.701,19.734,188.667,4.284z M159.376,9.459c9.131,0.333,18.183,1.646,26.958,3.905
												c20.92,5.386,39.441,15.853,54.473,29.831l-9.97,9.97c-11.892-10.941-26.123-19.383-41.916-24.422
												c-9.553-3.047-19.477-4.711-29.545-5.128V9.459z M166.003,131.251l29.498-29.498l-6.628-6.63l-29.498,29.498v-91.63
												c9.098,0.408,18.066,1.931,26.695,4.683c14.344,4.575,27.295,12.216,38.133,22.116l-25.959,25.959l6.628,6.628l25.959-25.959
												c9.9,10.842,17.536,23.784,22.116,38.133c2.756,8.63,4.275,17.597,4.683,26.7H166.003z M267.01,131.255v-0.005
												c-0.413-10.073-2.077-20.002-5.128-29.55c-5.039-15.787-13.481-30.019-24.422-41.906l9.98-9.98
												c20.152,21.731,32.583,50.377,33.722,81.441H267.01z"/>
											<path d="M117.188,164.063c0-12.923-10.514-23.438-23.438-23.438s-23.438,10.514-23.438,23.438S80.828,187.5,93.751,187.5
												S117.188,176.986,117.188,164.063z M93.751,178.125c-7.753,0-14.063-6.309-14.063-14.063c0-7.754,6.31-14.062,14.063-14.062
												s14.063,6.309,14.063,14.063C107.813,171.817,101.503,178.125,93.751,178.125z"/>
											<polygon
                                                    points="126.563,220.312 126.563,220.312 126.563,220.313 			"/>
											<path d="M126.563,220.312c0-7.753-6.309-14.062-14.063-14.062c-7.754,0-14.063,6.309-14.063,14.063
												c0,7.754,6.309,14.063,14.063,14.063V225c-2.588,0-4.688-2.105-4.688-4.688s2.1-4.688,4.688-4.688s4.688,2.105,4.688,4.688
												H126.563z"/>
											<path d="M196.876,201.563c10.341,0,18.75-8.409,18.75-18.75h-9.375c0,5.17-4.205,9.375-9.375,9.375s-9.37-4.205-9.37-9.375
												s4.2-9.375,9.37-9.375v-9.375c-10.336,0-18.745,8.409-18.745,18.75S186.54,201.563,196.876,201.563z"/>
											<path d="M103.126,117.188c10.341,0,18.75-8.409,18.75-18.75s-8.409-18.75-18.75-18.75v9.375c5.17,0,9.375,4.205,9.375,9.375
												s-4.205,9.375-9.375,9.375s-9.375-4.205-9.375-9.375h-9.375C84.376,108.778,92.785,117.188,103.126,117.188z"/>
											<path d="M75.001,126.563c0-7.753-6.309-14.063-14.063-14.063c-7.754,0-14.063,6.309-14.063,14.063
												c0,7.754,6.309,14.063,14.063,14.063C68.691,140.626,75.001,134.316,75.001,126.563z M60.938,131.25
												c-2.588,0-4.688-2.105-4.688-4.688s2.1-4.688,4.688-4.688s4.688,2.105,4.688,4.688C65.626,129.145,63.526,131.25,60.938,131.25z"
                                            />
											<path d="M225.001,89.063c-10.341,0-18.75,8.409-18.75,18.75s8.409,18.75,18.75,18.75s18.75-8.409,18.75-18.75
												S235.342,89.063,225.001,89.063z M225.001,117.188c-5.17,0-9.375-4.205-9.375-9.375s4.205-9.375,9.375-9.375
												s9.375,4.205,9.375,9.375S230.17,117.188,225.001,117.188z"/>
											<path d="M201.563,70.313c0-10.341-8.409-18.75-18.75-18.75s-18.75,8.409-18.75,18.75h9.375c0-5.17,4.205-9.375,9.375-9.375
												c5.17,0,9.375,4.205,9.375,9.375s-4.205,9.375-9.375,9.375v9.375C193.154,89.063,201.563,80.653,201.563,70.313z"/>
											<path d="M145.313,220.313c0,10.341,8.409,18.75,18.75,18.75s18.75-8.409,18.75-18.75s-8.409-18.75-18.75-18.75
												S145.313,209.972,145.313,220.313z M164.063,210.938c5.17,0,9.375,4.205,9.375,9.375s-4.205,9.375-9.375,9.375
												c-5.17,0-9.375-4.205-9.375-9.375S158.893,210.938,164.063,210.938z"/>
											<path d="M126.563,178.125c0,7.753,6.309,14.063,14.063,14.063c7.754,0,14.063-6.309,14.063-14.063
												c0-7.754-6.309-14.063-14.063-14.063C132.873,164.062,126.563,170.372,126.563,178.125z M140.626,173.438
												c2.587,0,4.688,2.105,4.688,4.688s-2.1,4.688-4.688,4.688s-4.688-2.105-4.688-4.688S138.039,173.438,140.626,173.438z"/>
											<rect x="117.188" y="243.75" width="14.063" height="9.375"/>

												<rect x="38.42" y="171.098"
                                                      transform="matrix(-0.5547 -0.8321 0.8321 -0.5547 -73.3934 312.291)"
                                                      width="16.905" height="9.375"/>

												<rect x="196.875" y="213.685"
                                                      transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 188.3057 518.6241)"
                                                      width="9.375" height="13.256"/>
											<rect x="103.126" y="192.188" width="14.063" height="9.375"/>

												<rect x="115.247" y="121.875"
                                                      transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 297.5475 129.8762)"
                                                      width="13.256" height="9.375"/>
											<rect x="58.998" y="93.751"
                                                  transform="matrix(0.7071 0.7071 -0.7071 0.7071 88.8278 -17.5724)"
                                                  width="13.256" height="9.375"/>
											<rect x="103.126" y="60.938" width="14.063" height="9.375"/>
											<rect x="164.063" y="93.75" width="9.375" height="14.063"/>

												<rect x="190.246" y="117.184"
                                                      transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 249.9088 347.2574)"
                                                      width="13.256" height="9.375"/>

												<rect x="194.934" y="46.876"
                                                      transform="matrix(0.7071 0.7071 -0.7071 0.7071 95.4971 -127.4228)"
                                                      width="13.256" height="9.375"/>
											<rect x="220.313" y="164.063" width="9.375" height="14.063"/></g></g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
										 </svg>
                                <div class="empty-sm-15 empty-xs-15"></div>
                                <h5 class="h5 caption color-1">Đa dạng loại pizza</h5>
                                <div class="empty-sm-30 empty-xs-30"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">

                            <div class="simple-item text-center main-fill-col">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px"
                                     height="85px"
                                     viewBox="0 0 463 463" style="enable-background:new 0 0 463 463;"
                                     xml:space="preserve"><g><g><g><path d="M407.5,280c-6.255,0-12.265,1.055-17.879,2.972l-7.645-15.291C389.968,264.658,398.58,263,407.5,263
													c10.076,0,19.826,2.025,28.978,6.021c3.794,1.654,8.217-0.078,9.874-3.873c1.657-3.797-0.077-8.218-3.873-9.875
													C431.422,250.447,419.654,248,407.5,248c-11.307,0-22.207,2.205-32.257,6.215l-27.785-55.57c1.314,0.229,2.663,0.355,4.042,0.355
													h16c4.142,0,7.5-3.357,7.5-7.5v-32c0-4.143-3.358-7.5-7.5-7.5h-16c-9.126,0-17.048,5.232-20.939,12.852l-7.931-15.862
													c-4.006-8.013-12.061-12.99-21.019-12.99H287.5c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h14.111
													c3.24,0,6.154,1.801,7.603,4.699l19.424,38.847l-3.647,1.824C316.978,200.376,312,208.43,312,217.389V296h-64.5
													c-13.509,0-24.5-10.99-24.5-24.5V239h0.5c12.958,0,23.5-10.542,23.5-23.5S236.458,192,223.5,192h-64
													c-6.425,0-12.253,2.594-16.5,6.787V87.5c0-8.547-6.953-15.5-15.5-15.5h-112C6.953,72,0,78.953,0,87.5v112
													c0,8.547,6.953,15.5,15.5,15.5h16.834c-0.354,1.537-0.547,3.121-0.521,4.74C31.981,230.36,40.758,239,51.379,239h40.322
													c-5.071,3.238-9.415,6.665-13.03,9.914c-16.617,14.933-25.497,32.727-28.266,44.4c-1.493,6.295-0.06,12.795,3.933,17.836
													c3.938,4.973,9.837,7.821,16.189,7.821c0.014,0,0.027,0,0.041,0l3.952-0.007C72.861,324.291,72,329.868,72,335.5
													c0,30.603,24.897,55.5,55.5,55.5c28.058,0,51.305-20.934,54.979-48H327.5c4.142,0,7.5-3.357,7.5-7.5
													c0-4.887,0.488-9.769,1.451-14.509c4.006-19.734,15.971-36.281,32.117-46.586l7.643,15.286
													C361.605,299.699,352,316.497,352,335.5c0,30.603,24.897,55.5,55.5,55.5c30.603,0,55.5-24.897,55.5-55.5
													C463,304.897,438.103,280,407.5,280z M159.5,207h64c4.687,0,8.5,3.813,8.5,8.5s-3.813,8.5-8.5,8.5h-64
													c-4.687,0-8.5-3.813-8.5-8.5S154.813,207,159.5,207z M15,87.5c0-0.275,0.224-0.5,0.5-0.5h112c0.276,0,0.5,0.225,0.5,0.5V104H15
													V87.5z M15.5,200c-0.276,0-0.5-0.225-0.5-0.5V119h113v80.5c0,0.275-0.224,0.5-0.5,0.5H15.5z M51.379,224
													c-2.479,0-4.528-2.017-4.567-4.496c-0.02-1.235,0.448-2.4,1.315-3.28c0.61-0.618,1.368-1.028,2.191-1.224l85.695,0.024
													c-0.003,0.159-0.012,0.316-0.012,0.476c0,2.997,0.57,5.862,1.597,8.5H51.379z M70.54,303.972c-0.004,0-0.008,0-0.012,0
													c-2.383,0-3.799-1.337-4.431-2.135c-1.123-1.418-1.522-3.262-1.096-5.06C70.528,273.477,99.299,239,143.5,239
													c34.313,0,47.1,32.793,47.1,53.464c0,5.606-3.095,11.288-9.011,11.299L70.54,303.972z M136,335.5c0,4.687-3.813,8.5-8.5,8.5
													s-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5S136,330.813,136,335.5z M127.5,376c-22.332,0-40.5-18.168-40.5-40.5
													c0-5.735,1.234-11.383,3.556-16.566l20.33-0.038C106.634,323.151,104,329.023,104,335.5c0,12.958,10.542,23.5,23.5,23.5
													s23.5-10.542,23.5-23.5c0-6.509-2.661-12.407-6.951-16.667l20.332-0.039c2.363,5.22,3.619,10.918,3.619,16.705
													C168,357.832,149.832,376,127.5,376z M321.751,318.007c-0.668,3.287-1.146,6.628-1.433,9.993h-137.83
													c-0.427-3.136-1.123-6.226-2.073-9.235l1.2-0.002c13.673-0.025,23.984-11.331,23.984-26.299c0-16.229-5.401-32.675-14.819-45.119
													c-2.066-2.73-4.575-5.594-7.572-8.345H208v32.5c0,21.78,17.72,39.5,39.5,39.5h72c1.662,0,3.193-0.547,4.436-1.462
													C323.077,312.303,322.336,315.123,321.751,318.007z M351.5,167h8.5v17h-8.5c-4.687,0-8.5-3.813-8.5-8.5S346.813,167,351.5,167z
													 M327,301.213v-83.825c0-3.24,1.8-6.153,4.699-7.603l3.647-1.824l26.49,52.979C346.522,270.341,334.206,284.344,327,301.213z
													 M407.5,376c-22.332,0-40.5-18.168-40.5-40.5c0-22.332,18.168-40.5,40.5-40.5c22.332,0,40.5,18.168,40.5,40.5
													C448,357.832,429.832,376,407.5,376z"/>
												<path d="M407.5,312c-12.958,0-23.5,10.542-23.5,23.5s10.542,23.5,23.5,23.5s23.5-10.542,23.5-23.5S420.458,312,407.5,312z
													 M407.5,344c-4.687,0-8.5-3.813-8.5-8.5s3.813-8.5,8.5-8.5s8.5,3.813,8.5,8.5S412.187,344,407.5,344z"/></g></g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
										  </svg>
                                <div class="empty-sm-15 empty-xs-15"></div>
                                <h5 class="h5 caption color-1">Giao hàng trong 2h</h5>
                                <div class="empty-sm-30 empty-xs-30"></div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">

                            <div class="simple-item text-center main-fill-col">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="85px"
                                     height="85px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
										<g><g><path d="M449.347,140.331c-1.725-1.851-4.141-2.899-6.671-2.899H231.07c-2.53,0-4.946,1.051-6.671,2.901
										c-1.725,1.85-2.605,4.333-2.428,6.858l17.511,249.993c0.352,5.025,4.703,8.817,9.737,8.462c5.025-0.352,8.814-4.71,8.462-9.736
										l-10.926-155.977h30.786c5.037,0,9.121-4.084,9.121-9.122s-4.084-9.121-9.121-9.121h-32.064l-4.624-66.015h192.041l-4.624,66.015
										H307.946c-5.037,0-9.121,4.084-9.121,9.121s4.084,9.122,9.121,9.122h119.046l-15.308,218.551h-149.62l-2.28-32.552
										c-0.353-5.025-4.71-8.822-9.736-8.462c-5.025,0.352-8.814,4.712-8.462,9.736l2.874,41.036c0.334,4.778,4.308,8.484,9.098,8.484
										h166.631c4.791,0,8.765-3.706,9.098-8.484l22.487-321.052C451.953,144.666,451.072,142.182,449.347,140.331z"/></g></g>
                                    <g><g><path d="M405.19,314.523H268.557c-5.037,0-9.122,4.084-9.122,9.122c0,5.037,4.084,9.121,9.122,9.121H405.19
										c5.037,0,9.122-4.084,9.122-9.121C414.311,318.607,410.227,314.523,405.19,314.523z"/></g></g>
                                    <g><g>
										<path d="M402.757,367.293H270.99c-5.037,0-9.121,4.084-9.121,9.121c0,5.038,4.084,9.122,9.121,9.122h131.767
										c5.037,0,9.121-4.084,9.121-9.122C411.878,371.377,407.795,367.293,402.757,367.293z"/></g></g>
                                    <g><g><path d="M506.139,72.358l-85.737-32.836c-2.496-0.956-5.284-0.77-7.629,0.51c-2.346,1.278-4.012,3.522-4.561,6.137l-15.049,71.802
										c-1.034,4.93,2.126,9.765,7.056,10.799c0.631,0.133,1.26,0.196,1.88,0.196c4.225,0,8.017-2.953,8.918-7.252l12.854-61.327
										l75.742,29.009c4.705,1.801,9.979-0.551,11.781-5.255C513.195,79.435,510.843,74.16,506.139,72.358z"/></g></g>
                                    <g><g>
										<path d="M335.654,103.912H9.121c-5.037,0-9.121,4.084-9.121,9.122c0,37.148,18.22,71.932,51.303,97.944
										c30.268,23.799,69.734,37.616,111.963,39.359v208.151H118.27c-5.037,0-9.121,4.084-9.121,9.122c0,5.037,4.084,9.121,9.121,9.121
										h108.236c5.037,0,9.121-4.084,9.121-9.121c0-5.038-4.085-9.123-9.123-9.123h-44.996V250.334c8.501-0.354,16.955-1.198,25.231-2.53
										c4.974-0.8,8.358-5.481,7.556-10.454c-0.8-4.974-5.48-8.357-10.454-7.556c-10.277,1.654-20.86,2.492-31.455,2.492
										c-65.581,0-121.723-31.853-143.952-76.609h171.215c5.037,0,9.121-4.084,9.121-9.122c0-5.037-4.084-9.121-9.121-9.121H21.497
										c-1.346-4.988-2.297-10.085-2.808-15.278h316.964c5.037,0,9.121-4.084,9.121-9.121
										C344.775,107.996,340.691,103.912,335.654,103.912z"/></g></g>
                                    <g><g>
										<path d="M99.153,79.95L89.082,42.05c-1.294-4.868-6.29-7.765-11.159-6.473c-4.868,1.294-7.767,6.289-6.473,11.159l10.071,37.898
										c1.086,4.084,4.775,6.781,8.81,6.781c0.776,0,1.564-0.1,2.348-0.308C97.549,89.814,100.447,84.818,99.153,79.95z"/></g></g>
                                    <g><g><circle cx="389.159" cy="265.726" r="9.121"/></g></g>
                                    <g><g><circle cx="338.091" cy="293.091" r="9.121"/></g></g>
                                    <g><g><circle cx="281.538" cy="262.078" r="9.121"/></g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
                                    <g></g>
										</svg>
                                <div class="empty-sm-15 empty-xs-15"></div>
                                <h5 class="h5 caption color-1">Đồ uống tươi mát</h5>
                                <div class="empty-sm-30 empty-xs-30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-lg-100 empty-md-70 empty-sm-30 empty-xs-30"></div>
</section>

<section class="section">
    <div class="empty-lg-170 empty-md-70 empty-sm-50 empty-xs-20"></div>
    <div class="bg layer ready data-jarallax" data-jarallax="5" style="background-image: url(/img/home-4/section_home3_bg_1.jpg)"></div>
    <div class="container item-animation scroll-type-1">
        <div class="simple-item text-center color-type-1 simple-item-style-1">
            <div class="main-caption text-center color-type-1">
                <h2 class="h2 title">Best menu for you</h2>
                <div class="empty-sm-20 empty-xs-20"></div>
                <img src="/img/title_sepp_4.png" alt="">
                <div class="empty-sm-15 empty-xs-15"></div>
                <div class="simple-text md">
                    <p><b>Chúng tôi cung cấp cho quý khách hàng menu pizza, thức uống và món ăn kèm vô cùng đa dạng cho bạn lựa chọn.</b></p>
                </div>
                <div class="empty-lg-70 empty-md-60 empty-sm-60 empty-xs-40"></div>
            </div>

            <div class="button-wrap">
                <a class="button size-2 style-1" href="/dishes">
                    <span class="button-wrapper">
                        <span class="icon"><img src="/img/icon-1.png" alt=""></span>
                        <span class="text">Xem menu</span>
                     </span>
                </a>
            </div>
        </div>
    </div>
    <div class="empty-lg-200 empty-md-100 empty-sm-90 empty-xs-60"></div>
</section>


<!-- PIZZA -->
<section class="section">
    <div class="bg auto pos-left-bottom md-hide left-115"
         style="background-image: url(/img/home-4/menu_img_1.png)"></div>
    <div class="empty-lg-120 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row item-animation scroll-type-1">
            <div class="col-lg-8 col-md-8 col-md-offset-4 col-xs-12">
                <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-40"></div>
                <div class="padd-left-60">
                    <ul class="list-style-1 lg ul-list">
                        {{#each pizza}}
                            <li>
                                <div class="img"><img src="{{avatar}}" alt=""></div>
                                <div class="txt">
                                    <div class="product-shortcode style-7 sale-label-container">
                                        {{#if hasHotDeal}}
                                            <div class="product-label red sale-content">Giảm giá {{hotDeal.discount}}%</div>
                                        {{/if}}
                                    </div>

                                    <div class="flex-wrap">
                                     <span class="caption">
                                     <h4 class="h5"><a href="#" class="link-hover-line">{{name}}</a>
                                         <div class="empty-sm-5 empty-xs-5"></div>
                                     </h4>

                                     </span>
                                        <i></i>
                                        {{#if hasHotDeal}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 hotDeal.hotDealPrice}}</strong></b>
                                        {{else}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 price}}</strong></b>
                                        {{/if}}

                                    </div>
                                    <div class="simple-text">
                                        <p>{{igredients}}</p>
                                    </div>
                                </div>
                                <div class="empty-sm-20 empty-xs-20"></div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row item-animation scroll-type-1">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <div class="empty-sm-40 empty-xs-20"></div>
                <div class="col-xs-2 col-md-2 col-sm-1"></div>
                <a class="button size-2 style-3" href="/dishes?category=1">
                    <span class="button-wrapper">
                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
                        <span class="text">Xem thêm</span>
                     </span>
                </a>
            </div>
        </div>
    </div>
    <div class="empty-lg-40 empty-md-40 empty-sm-0 empty-xs-0"></div>
</section>

<!-- DRINKS -->
<section class="section">
    <div class="bg auto pos-right-bottom md-hide right-115"
         style="background-image: url(/img/home-4/menu_img_2.png)"></div>
    <div class="container">
        <div class="row item-animation scroll-type-1">
            <div class="col-lg-8 col-md-8  col-xs-12">
                <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-40"></div>
                <div class="padd-right-60">
                    <ul class="list-style-1 lg ul-list">
                        {{#each drinks}}
                            <li>
                                <div class="img"><img src="{{avatar}}" alt=""></div>
                                <div class="txt">
                                    <!-- binding -->
                                    <div class="product-shortcode style-7 sale-label-container">
                                        {{#if hasHotDeal}}
                                            <div class="product-label red sale-content">Giảm giá {{hotDeal.discount}}%</div>
                                        {{/if}}
                                    </div>

                                    <div class="flex-wrap">
                                     <span class="caption">
                                     <h4 class="h5"><a href="#" class="link-hover-line">{{name}}</a>
                                         <div class="empty-sm-5 empty-xs-5"></div>
                                     </h4>
                                     </span><i></i>
                                        {{#if hasHotDeal}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 hotDeal.hotDealPrice}}</strong></b>
                                        {{else}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 price}}</strong></b>
                                        {{/if}}
                                    </div>
                                    <div class="simple-text">
                                        <p>{{detail_description}}</p>
                                    </div>
                                </div>
                                <div class="empty-sm-20 empty-xs-20"></div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row item-animation scroll-type-1">
            <div class="col-md-4  col-xs-12">
                <div class="empty-sm-40 empty-xs-20"></div>

                <a class="button size-2 style-3" href="/dishes?category=2">
                    <span class="button-wrapper">
                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
                        <span class="text">Xem thêm</span>
                     </span>
                </a>
            </div>
        </div>
    </div>
    <div class="empty-lg-40 empty-md-40 empty-sm-0 empty-xs-0"></div>
</section>

<!-- SIDES -->
<section class="section">
    <div class="bg auto pos-left-bottom md-hide left-115"
         style="background-image: url(/img/home-4/menu_img_3.png)"></div>
    <div class="empty-lg-60 empty-md-60 empty-sm-0 empty-xs-0"></div>
    <div class="container">
        <div class="row item-animation scroll-type-1">
            <div class="col-lg-8 col-md-8 col-md-offset-4 col-xs-12">
                <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-40"></div>
                <div class="padd-left-60">
                    <ul class="list-style-1 lg ul-list">
                        {{#each sides}}
                            <li>
                                <div class="img"><img src="{{avatar}}" alt=""></div>
                                <div class="txt">
                                    <!-- binding -->
                                    <div class="product-shortcode style-7 sale-label-container">
                                        {{#if hasHotDeal}}
                                            <div class="product-label red sale-content">Giảm giá {{hotDeal.discount}}%</div>
                                        {{/if}}
                                    </div>

                                    <div class="flex-wrap">
                                     <span class="caption">
                                     <h4 class="h5"><a href="#" class="link-hover-line">{{name}}</a>
                                         <div class="empty-sm-5 empty-xs-5"></div>
                                     </h4>
                                     </span><i></i>
                                        {{#if hasHotDeal}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 hotDeal.hotDealPrice}}</strong></b>
                                        {{else}}
                                            <b class="h4 main-col menu-price"><strong>{{standardPrice 1 price}}</strong></b>
                                        {{/if}}
                                    </div>
                                    <div class="simple-text">
                                        <p>{{detail_description}}</p>
                                    </div>
                                </div>
                                <div class="empty-sm-20 empty-xs-20"></div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row item-animation scroll-type-1">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <div class="empty-sm-40 empty-xs-20"></div>
                <div class="col-xs-2 col-md-2 col-sm-1"></div>
                <a class="button size-2 style-3" href="/dishes?category=3">
                    <span class="button-wrapper">
                        <span class="icon"><img src="img/icon-4.png" alt=""></span>
                        <span class="text">Xem thêm</span>
                     </span>
                </a>
            </div>
        </div>
    </div>
    <div class="empty-lg-40 empty-md-40 empty-sm-0 empty-xs-0"></div>
    <div class="empty-lg-100 empty-md-80 empty-sm-60 empty-xs-40"></div>
</section>

<!-- TETOSMINALS -->
<section class="section">
    <div class="bg layer ready data-jarallax" data-jarallax="5"
         style="background-image: url(/img/home-4/section_home3_bg_2.jpg)"></div>
    <div class="empty-lg-130 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row item-animation scroll-type-1">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="box-item">
                    <div class="empty-md-70 empty-sm-60 empty-xs-40"></div>
                    <div class="simple-item-style-2 simple-item color-type-2 text-center">
                        <h2 class="h1 title">Testimonials</h2>
                        <div class="empty-sm-20 empty-xs-20"></div>
                        <img src="/img/title_sepp_3.png" alt="" class="color-overlay">
                        <div class="empty-sm-15 empty-xs-15"></div>
                        <div class="simple-text md simple-sub-text">
                            <p>Bên dưới đây là các đánh giá từ các đối tác của Pizzone.</p>
                        </div>
                    </div>
                    <div class="empty-md-70 empty-sm-60 empty-xs-40"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-12">
                            <div class="swiper-container pagination-bottom" data-mode="horizontal" data-effect="slide" data-add-slides="1" data-slides-per-view="responsive" data-lg-slides="1" data-md-slides="1" data-xs-slides="1" data-sm-slides="1" data-speed="800">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" >
                                        <div class="testi-item text-center testi-type-3">
                                            <h4 class="h4 caption tt color-2">That’s an awesome restaurant &amp; food</h4>
                                            <div class="empty-sm-15 empty-xs-15"></div>
                                            <div class="simple-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                            </div>
                                            <div class="empty-sm-25 empty-xs-25"></div>
                                            <div class="img">
                                                <img src="/img/home-4/people-1.png" alt="">
                                                <div class="name">
                                                    <h5 class="h5 sm caption">Charles P. Moore</h5>
                                                    <div class="empty-sm-10 empty-xs-10"></div>
                                                    <span class="proff color-2">IBM consultunt</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" >
                                        <div class="testi-item text-center testi-type-3">
                                            <h4 class="h4 caption tt color-2">That’s an awesome restaurant &amp; food</h4>
                                            <div class="empty-sm-15 empty-xs-15"></div>
                                            <div class="simple-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                            </div>
                                            <div class="empty-sm-25 empty-xs-25"></div>
                                            <div class="img">
                                                <img src="/img/home-4/people-2.png" alt="">
                                                <div class="name">
                                                    <h5 class="h5 sm caption">Charles P. Moore</h5>
                                                    <div class="empty-sm-10 empty-xs-10"></div>
                                                    <span class="proff color-2">IBM consultunt</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" >
                                        <div class="testi-item text-center testi-type-3">
                                            <h4 class="h4 caption tt color-2">That’s an awesome restaurant &amp; food</h4>
                                            <div class="empty-sm-15 empty-xs-15"></div>
                                            <div class="simple-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                            </div>
                                            <div class="empty-sm-25 empty-xs-25"></div>
                                            <div class="img">
                                                <img src="/img/home-4/people-3.png" alt="">
                                                <div class="name">
                                                    <h5 class="h5 sm caption">Charles P. Moore</h5>
                                                    <div class="empty-sm-10 empty-xs-10"></div>
                                                    <span class="proff color-2">IBM consultunt</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="empty-sm-45 empty-xs-25"></div>
                                <div class="pagination swiper-pagination-1 color-type-3"></div>
                            </div>
                        </div>
                        <div class="empty-sm-45 empty-xs-25"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="empty-lg-130 empty-md-100 empty-sm-60 empty-xs-60"></div>
</section>

<!-- WE DO IT WELL -->
<section class="section">
    <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
    <div class="container">
        <div class="row vertical-wrap item-animation scroll-type-1">
            <div class="col-md-5">
                <div class="img-item-center">
                    <img src="/img/home-4/visit_img_1.jpg" alt="" class="resp-img">
                    <img src="/img/home-4/visit_img_2.jpg" alt="" class="resp-img">
                    <img src="/img/home-4/visit_img_3.jpg" alt="" class="resp-img">
                    <img src="/img/home-4/visit_img_4.jpg" alt="" class="resp-img">
                    <div class="vertical-align full">
                        <div class="simple-item text-center simple-item-style-1 color-type-2">
                            <div class="wrap-padding">
                                <div class="title main-col h2">Visit us today!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-lg-0 empty-md-0 empty-sm-60 empty-xs-40"></div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="main-caption text-center">
                    <h2 class="h1 title">We do it well</h2>
                    <div class="empty-sm-20 empty-xs-20"></div>
                    <img src="/img/title_sepp_3.png" alt="" class="color-overlay">
                    <div class="empty-sm-15 empty-xs-15"></div>
                    <div class="simple-text md simple-sub-text">
                        <p>Pizzone luôn cam kết sẽ mang đến cho quý khách hàng những trải nghiệm dịch vụ tốt nhất.</p>
                    </div>
                    <div class="empty-sm-30 empty-xs-30"></div>
                    <div class="simple-text">
                        <p>Với những đầu bếp nhiều năm kinh nghiệm, Pizzone tự tin mang đến cho bạn những loại pizza độc đáo và ngon miệng, hãy đến với Pizzone ngay hôm nay để nhận ưu đãi nào.</p>
                    </div>
                    <div class="empty-sm-40 empty-xs-30"></div>
                    <a class="button size-2 style-2" href="/dishes">
                        <span class="button-wrapper">
                            <span class="icon"><img src="/img/icon-4.png" alt=""></span>
                            <span class="text">Xem menu</span>
                         </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-lg-140 empty-md-100 empty-sm-60 empty-xs-60"></div>
</section>


